<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    {% extends 'base.html' %}
    {% block title_tag %}
    {{ post.title_tag }}
    {% endblock %}
    {% block content%}

    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name}} {{ post.author.last_name}} - 
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    </small>
    <br>
    <p>{{ post.body }}</p>

    <a href="{% url 'index' %}">
        <button type="button" class="btn btn-outline-secondary">Back</button>
    </a>

    {% endblock %}
</body>

</html>